.Avatar{
    width: 25px;
    margin-right: 15px;
}

.icon-menu{
    margin: 0 20px;
cursor: pointer;
}

.nav-bar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
}

.cart{
    margin-right: 20px;
}

.cart-Avatar{
    display: flex;
    align-items: center;
    position: relative;
}

.qty{
    background-color: orange;
    display: block;
    width: 20px;
    border-radius: 20px;
    height: 15px;
    position: absolute;
    bottom: 15px;
    left: 10px;
}

.qty-text{
    color: #fff; 
    display: block;
    /* margin: 0 auto; */
    text-align: center;
}

.nav-links{
    display: none;
}

@media (min-width: 768px) {
    .icon-menu{
        display: none;
    }

    .nav-links{
        display: flex;
        gap: 20px;
    }
}