.hero-image {
    width: 100%;
    object-fit: cover;
    height: 400px;
    display: none;
}

.hero-image.active {
    display: block;
}

.image-cont{
    max-width: 500px;
height: auto;
margin: 30px auto;
display: flex;
overflow-x: hidden;
}

.direction-container{
    display: flex;
    position: absolute;
    top: 270px;
    justify-content: space-around;
    width: 95%;
    gap: 200px;
}

.prev-icon, .next-icon{
    border-radius: 100%;
    background: #fff;
    padding: 4px 10px;
}

.prev-icon:hover, .next-icon:hover{
    cursor: pointer;
    background: #ff7d1a;
}

.prev-icon img, .next-icon img{
    width: 7px;
}



@media (min-width: 768px){
    .direction-container{
        display: none;
    }
}



@media (min-width: 500px) and (max-width: 768px){
    .direction-container{
        gap: 0px;
        width: 90%;
    }
}

@media (min-width: 320px) and (max-width: 499px){

    .direction-container{
        width: 70%;
    gap: 150px;
    }
}