.hero-image {
  width: 100%;
  object-fit: cover;
  height: 300px;
  display: none;
  border-radius: 5%;
}

.hero-image.active {
  display: block;
}

.image-div {
  position: relative;
}

.image-cont {
  max-width: 500px;
  height: auto;
  margin: 30px auto;
  display: flex;
  overflow-x: hidden;
}

.direction-container {
  display: flex;
  position: absolute;
  top: 160px;
  justify-content: space-around;
  width: 95%;
  gap: 200px;
}

.prev-icon,
.next-icon {
  border-radius: 100%;
  background: #fff;
  padding: 4px 10px;
  padding: 3%;
}

.prev-icon:hover,
.next-icon:hover {
  cursor: pointer;
  background: #ff7d1a;
}

.prev-icon img,
.next-icon img {
  width: 7px;
}

.thumbnails-div {
  display: none;
}

@media (min-width: 900px) {
  .thumbnails-div {
    display: flex;
  }

  .direction-container {
    gap: 300px;
    justify-content: space-between;
    top: 240px;
    display: none;
  }
}

@media (min-width: 768px) {
  .hero-image {
    height: 400px;
  }
}

@media (min-width: 320px) and (max-width: 899px) {
  .direction-container {
    gap: 200px;
    top: 200px;
  }
}
